@font-face {
    font-family: 'brandon-light';
    src: url(../fonts/Brandon_light.otf);
}

@font-face {
    font-family: 'brandon-med';
    src: url(../fonts/Brandon_med.otf);
}

@font-face {
    font-family: 'brandon-bold';
    src: url(../fonts/Brandon_bld.otf);
}

@font-face {
    font-family: 'brandon-black';
    src: url(../fonts/Brandon_blk.otf);
}

@font-face {
    font-family: 'brandon-printed';
    src: url(../fonts/BrandonPrinted-Inline.otf);
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ybes55');
    src:  url('../fonts/icomoon.eot?ybes55#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ybes55') format('truetype'),
      url('../fonts/icomoon.woff?ybes55') format('woff'),
      url('../fonts/icomoon.svg?ybes55#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }

*, *:before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --blanco: rgb(250, 250, 250);
    --negro: rgb(20, 20, 20);
}

body {
    background: var(--blanco);
    font-family: 'brandon-light';
    color: var(--negro);
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}

header {
    display:flex;
    flex-direction: column;
    width: 95%;
    margin: 0px auto;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: thin solid var(--negro);
}

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-btn {
    display:flex;
    height: 20px;
    width: 20px;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.btn-burger {
    background-color: var(--negro);
    width: 20px;
    height: 2px;
    border-radius: 2px;
    transition: all .5 ease-in-out;
}

.btn-burger::before, .btn-burger::after{
    content: '';
    position: absolute;
    background-color: var(--negro);
    width: 20px;
    height: 2px;
    border-radius: 2px;
    transition: all .5 ease-in-out;
}

.btn-burger::before{
    transform:translateY(-6px);
}

.btn-burger::after{
    transform: translateY(6px);
}

/* animación del botón */

#menu-btn.open .btn-burger{
    background-color: transparent;
    transform: translateX(-50px);
}

#menu-btn.open .btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px)
}
#menu-btn.open .btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px)
}

/* fin de animación del botón */

#menu-nav{
    display: none;
    align-self:center;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    transition: all 1000 ease-in-out;
}

#menu-nav.open{
    /* transform: display(block); */
    display: block;
}

#menu-nav li {
    width: 100%;
    padding:15px 0px;
    font-family: 'brandon-med';
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: thin dashed var(--negro);
}

#menu-nav li:last-of-type {
    border-bottom: none;
}

#menu-nav li a {
    display: block;
    color: var(--negro);
}
.redes {
    margin-top: 20px;
    font-size: 1.3rem;
}

.red-btn {
    margin: 0 10px;
    color: var(--negro);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

strong{
    font-family: 'brandon-med';
}

main .foodtruck{
    display: flex;
    flex-direction: column;
}

main .foodtruck img{
    align-self: center;
    width: 90%;
    margin-bottom: 30px;
}

main section {
    padding: 60px 0px;
    width: 100%;
}

main .section-text {
    margin:0px auto;
    width: 90%;
}

main .titulo {
    font-family: 'brandon-bold';
    font-size: 60px;
    line-height: 64px;
}

main p {
    margin-top: 15px;
    font-size: 18px;
}

main .about {
    background-image: url('../img/sobreMP.jpg');
    background-size: cover;
}

main .about .about-text {
    width: 90%;
    margin:0px auto;
}

main .subtitulo {
    font-family: 'brandon-bold';
    font-size: 48px;
    line-height: 50px;
}

.texto-blanco {
    color: var(--blanco);
}

.opcion-menu hr {
    margin-top: 15px;
    border-top: 0.5px solid var(--negro);
}

.opcion-menu hr.dashed {
    border-top: 0.5px dashed var(--negro);
 }

.opcion-menu h3{
    margin-top: 15px;
    padding:15px 25px;
    background-color: var(--negro);
    font-size: 20px;
}

.opcion-menu h4{
    padding:25px 0px;
    font-family: 'brandon-printed';
    font-size: 22px;
}

.opcion-menu p{
    margin-top: 0px;
    font-size: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 10px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.gallery-img-1 {
    object-position: 0% 40%;
    grid-column-start: 1;
    grid-column-end: 5;
}

.gallery-img-2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.gallery-img-3m {
    grid-column-start: 3;
    grid-column-end: 5;
}

.gallery-img-4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.gallery-img-6 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.gallery-img-7 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.gallery-img-3,
.gallery-img-8,
.gallery-img-9 {
    grid-row-start: 5;
    grid-column-end: 5;
    display: none;
}

.eventos {
    background-image: url(../img/eventos.jpg);
}

.contacto p a {
    color: var(--negro)
}

.contacto .consultas {
    margin-top: 50px;
}

.contacto form {
    width: 100%;
}

.contacto form .form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.form-group label{ 
    font-size: 24px;
}

.form-group input[type="text"], 
.form-group input[type="number"], 
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group textarea,
.form-group select{
    margin-top: 5px;
    padding: 6px 10px;
    border: 1px solid var(--negro);
    border-radius: 5px;
    outline-color: var(--negro);
    font-family: 'brandon-light';
    font-size: 16px;

}

.form-group input[type="text"]:focus, 
.form-group input[type="number"]:focus, 
.form-group input[type="tel"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: 1px;
    box-shadow: 0px 0px 5px var(--negro);
}

.submition-group{
    display: flex;
    align-items: baseline;
}

form input[type="submit"] {
    width: 120px;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--negro);
    color: var(--blanco);
    font-family: 'brandon-black';
    font-size: 20px;
    letter-spacing: 5px;
}

footer .imagen {
    height: 60px;
    background-image: url(../img/footer.png);
}

footer .creditos {
    display: flex;
    height: 70px;
    background-color: var(--negro);
    color: var(--blanco);
    justify-content: center;
    align-items: center;
}

footer .creditos a {
    color: var(--blanco);
}



@media screen and (min-width: 1024px) {
   
    main section {
        padding: 100px 0px;
    }
    
    main .foodtruck{
        display: flex;
        flex-direction: row;
        width: 95%;
    }
    
    main .foodtruck img{
        width: 40%;
        height: auto;
    }
    
    main p {
        font-size: 20px;
    }

    main p.texto-blanco {
        width: 60%;
    }

    main .about {
        background-position: 0% 90%;
    }


    .sanguches-menu .opcion-menu {
        display: flex;
        flex-direction: column;
    }

    .menu-container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .opcion-menu .menu-container h3 {
        width: 23%;
        height: 90px;
        border: 0.5px solid var(--negro);
        background-color: transparent;
        font-size: 22px;
        padding: 15px;
        color: var(--negro);
    }
    
    .opcion-menu h4{
        font-size: 22px;
    }

    .opcion-menu .variedades {
        width: 75%;
        margin-left: 30px;
    }

    .opcion-menu p{
        font-size: 18px;
    }

    .eventos .section-text{
        margin-left: 30%;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-gap: 10px;
    }
    
    .gallery-img-1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gallery-img-2 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .gallery-img-3 {
        display: block;
        grid-row-start: 1;
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .gallery-img-4 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .gallery-img-5 {
        object-position: 0% 25%;
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .gallery-img-6 {
        grid-row-start: 2;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .gallery-img-7 {
        object-position: 20% 0%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .gallery-img-8 {
        display: block;
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .gallery-img-9 {
        display: block;
        grid-row-start: 3;
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .gallery-img-3m {
        display: none;
    }

    .contacto {
        display: flex;
    }

    main .info.section-text, main .consultas.section-text {
        width: auto;
        margin-top: 0px;
    }

}

@media screen and (min-width: 1200px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    #menu-btn {
        display: none;
    }

    #menu-nav{
        display: flex;
        justify-content: space-between;
        margin-left: 150px;
    }


    #menu-nav ul{
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
    }

    #menu-nav ul li {
        width: auto;
        font-family: 'brandon-light';

        letter-spacing: 0px;
        border-bottom: none;
    }

    #menu-nav ul li:hover {
        font-family: 'brandon-bold';
    }

    .red-btn {
        margin-right:5px;
    }
    .red-btn:last-of-type {
        margin: 0 0px;
    }

    

}